<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-lg   px-4 py-3 rounded-bottom">
  <div class="container-fluid">
    @if (loggedIn && isAdmin) {
      <a class="navbar-brand fw-bold fs-5 text-primary" routerLink="/admin/dashboard">
        Support Ticket System
      </a>
    } @else if (loggedIn && !isAdmin) {
      <a class="navbar-brand fw-bold fs-5 text-primary" routerLink="/user/dashboard">
        Support Ticket System
      </a>
    } @else {
      <a class="navbar-brand fw-bold fs-5 text-primary" routerLink="/">
        Support Ticket System
      </a>
    }
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav align-items-center gap-3">

         @if (loggedIn && isAdmin) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard">Home</a>
          </li>
        } @else if (loggedIn && !isAdmin) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/dashboard">Home</a>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
        }
        @if (loggedIn) {

          @if (isAdmin) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/dashboard">Admin Dashboard</a>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/dashboard">User Dashboard</a>
            </li>
          }

        } @else {

          <li class="nav-item">
            <a class="nav-link" routerLink="/login">STS</a>
          </li>

        }
        @if (loggedIn) {
          <li class="nav-item">
            <button
              class="btn btn-outline-primary btn-sm px-3 py-1 fw-semibold logout-btn"
              (click)="logout()"
            >
              Logout
            </button>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
