.navbar {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(255, 255, 255);
}

/* Navbar links */
.nav-link {
  font-weight: 700;
  background: linear-gradient(to right, #a100ff, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #a100ff !important;
}

/* Logout button style */
.logout-btn {
  border-radius: 20px;
  border: 1px solid #a100ff;
  color: #a100ff;
  transition: 0.3s;
}

.logout-btn:hover {
  background: linear-gradient(to right, #a100ff, #00d4ff);
  color: #fff;
  border: none;
  transform: translateY(-1px);
}

/* Brand text gradient */
.navbar-brand {
  background: linear-gradient(to right, #a100ff, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
