.card {
  border-radius: 16px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(161, 0, 255, 0.1);
}

h5 {
  color: #222;
}

.text-secondary i {
  color: #a100ff;
}
.card {
  border-radius: 16px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(161, 0, 255, 0.1);
}

h5 {
  color: #222;
}

.text-secondary i {
  color: #a100ff;
}
