<div class="container-fluid  mt-5 bg-white pt-5">

  <div class="d-flex justify-content-between  align-items-center   p-4  mb-1">
    
    <h2 class="fw-bold text-dark mb-0">My Tickets</h2>

    <button
      class="btn btn-outline-primary btn-clr fw-semibold px-3"
      (click)="createTicket()"
    >
      Create New Ticket
    </button>

  </div>

  <div class="row g-4 mt-1">
    @if (tickets.length > 0) {
      @for (t of tickets; track t.id) {
        
        <div class="col-12 col-lg-4">
          <app-ticket-card [ticket]="t"></app-ticket-card>
        </div>
        
      }
    } @else {
      <div class="col-12">
        <p class="text-muted mt-3">You have no tickets.</p>
      </div>
    }
  </div>
</div>